.DS_Store
.dropbox.attr
__pychache__
*.log
*.pyc
*.scp

# timit
input_data_direct.py

# csj
*_ss.py
*_dialog.py
*_ss.sh
*_dialog.sh
*_ss.txt
make_wav.py
split.py

# librispeech
word2num*.txt

svc
# erato
