.DS_Store
.dropbox.attr
__pychache__
*.log
*.pyc
*.scp
.nfs*
trans*.txt
mapping_files
make_mine.sh

# tools
sph2pipe_v2.5

# csj
*_ss.py
*_dialog.py
*_ss.sh
*_dialog.sh
*_ss.txt
make_wav.py
split.py

# librispeech
word*.txt

svc
erato
